@model FormValidation.Models.Car
<!DOCTYPE html >
<html>
<head>
    <title>FormSimple</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <table border="1">
            <tr><td>@Html.LabelFor(e => e.Date)</td><td>@Html.EditorFor(e => e.Date) @Html.ValidationMessageFor(model => model.Date)</td></tr>
            <tr><td>@Html.LabelFor(e => e.Fuel)</td><td>@Html.EditorFor(e => e.Fuel) @Html.ValidationMessageFor(model => model.Fuel)</td></tr>
            <tr><td>@Html.LabelFor(e => e.Producent)</td><td>@Html.EditorFor(e => e.Producent) @Html.ValidationMessageFor(model => model.Producent)</td></tr>
            <tr><td>@Html.LabelFor(e => e.RegNum)</td><td>@Html.EditorFor(e => e.RegNum) @Html.ValidationMessageFor(model => model.RegNum)</td></tr>
            <tr><td>@Html.LabelFor(e => e.Year)</td><td>@Html.EditorFor(e => e.Year) @Html.ValidationMessageFor(model => model.Year)</td></tr>
        </table>
        <input type="submit" />
        @Html.AntiForgeryToken()
    }
</body>
</html>