@model IEnumerable<MvcExample.Models.Person>
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

    <table>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.Address</td>
                <td><a href="@Url.Action("Details", new { id = p.Id })">Szczegóły</a></td>
            </tr>
        }
    </table>
   @for (int i = 1; i <= 3; ++i)
   {
    <a href="@Url.Action("GetSome", new { id = i })">@i.ToString()</a>


   }
   
    
</body>
</html>